@import "../abstracts/variables";
@import "../abstracts/mixins";

body {
  font-family: var(--font-primary) !important; //"Montserrat", sans-serif;
  font-weight: 400 !important;
  //font-size: 16px;
  line-height: 1.6 !important;
  //color: var(--color-gray-dark-2);
  color: var(--color-neon-blue-dark); //!important;
}

h1 {
  font-size: 2rem;
  border-bottom: 1px solid #82fbf6;
  text-shadow: 2px 2px 4px #82fbf6;
}