@import "../abstracts/variables";
@import "../abstracts/mixins";

body {
  font-family: var(--font-primary) !important; //"Montserrat", sans-serif;
  font-weight: 400 !important;
  //font-size: 16px;
  line-height: 1.6 !important;
  //color: var(--color-gray-dark-2);
  color: white; //!important;
}