@import "../abstracts/variables";

.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(white, .5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 40%;
    display: block;
    transition: all .5s;

    @include respond(tab-land) {
      width: 55%;
    }
    @include respond(tab-port) {
      width: 84%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(var(--color-neon-blue-dark), .1);
      border-bottom: 3px solid green;
    }

    &:focus:invalid {
      border-bottom: 3px solid orange;
    }

    &::-webkit-input-placeholder {
      color: var(--color-gray-dark);
    }
  }


  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
  }

  // sibling selector
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }


  &__checkbox-group {
    width: 49%;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__checkbox-input {
    display: none;
  }

  &__checkbox-label {
    cursor: pointer;
    position: relative;
    padding-left: 4rem;

    &:hover {
      text-shadow: 0 0 10px var(--color-neon-blue-dark);
      text-decoration: underline;
    }
  }

  &__checkbox-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid var(--color-neon-blue-dark);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.7rem;

    &::after {
      content: "";
      display: block;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      position: absolute;
      top: 50%; 
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--color-neon-blue-dark);
      opacity: 0;
      transition: opacity .2s;
    }
  }

  //select the sibling then the child
  &__checkbox-input:checked ~ &__checkbox-label &__checkbox-button::after {
    opacity: 1;
  }
}