.cardlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, 27rem); //repeat(auto-fit, minmax(27rem, 1fr))
  grid-gap: 2rem;
  justify-content: center;

  padding: 0 3rem 0 3rem;
}

.card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 1rem;

  background-color: black;
  border-radius: 10px;
  transition: all .7s;

  position: relative;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 1rem 1rem rgba(black, .9);
  }

  //HEADING SPAN CHANGE ON CARD HOVER
  &:hover &__heading-span {
    background-image: linear-gradient(to right, #CB52FF, #7700B8);
    //background-image: linear-gradient(to right, var(--color-orange-light), var(--color-orange-dark)); // #7700B8 #CB52FF
    padding-right: 6rem;
    font-weight: 900;
    color: var(--color-gray-light-2);
  }

  &:hover &__hitbox-img {
    color : #CB52FF; //var(--color-orange-light);
  }
  &:hover &__released-img {
    color : #CB52FF; //var(--color-orange-light);
  }
  &:hover &__attributes-img {
    color : #CB52FF; //var(--color-orange-light);
  }

  &__img-container {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }

  &__img {
    height: 80%;
    width: 80%;

    z-index: -10;
  }

  &__hitbox {
    grid-row: 2 / 3;
  }

  &__attributes {
    grid-row: 3 / 4;
  }

  &__released {
    grid-row: 4 / 5;
    margin-bottom: 2rem;
  }

  &__hitbox,
  &__released,
  &__attributes {
    font-size: 1.4rem;
    justify-self: center;
    grid-column: 1 / -1;

    display: flex;

    &-img {
      height: 2rem;
      width: 2rem;
      margin-right: 1rem;
      color : greenyellow;
    }
  }

  &__heading {
    margin-bottom: 2.5rem;
    margin-left: 3rem;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: end;
    align-self: end;
    z-index: 0;

    font-size: 2.1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
    color: black;
    position: absolute;
    //top: 12rem;
    right: .1rem;
    //width: 70%;
    //outline: none;

    &-span {
      //background-image: linear-gradient(to right, var(--color-blue-light), var(--color-blue-dark));
      background-image: linear-gradient(to right, var(--color-green-light), greenyellow);
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;

      padding-right: 1rem;
      padding-left: 1rem;

      position: relative;

      transition: all .8s;
    }
  }
}