.cardlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, 27rem); //repeat(auto-fit, minmax(27rem, 1fr))
  grid-gap: 2rem;
  justify-content: center;

  padding: 0 3rem 0 3rem;
}

.card {
  display: grid !important;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 1rem;
  justify-content: center;

  background-color: black !important;
  border-radius: 10px;
  transition: all .7s;

  position: relative;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 5px var(--color-neon-blue);
  }

  //HEADING SPAN CHANGE ON CARD HOVER
  &:hover &__heading-span {
    background-image: linear-gradient(to right, var(--color-neon-blue), var(--color-neon-blue-dark));
    //background-image: linear-gradient(to right, var(--color-orange-light), var(--color-orange-dark)); // #7700B8 #CB52FF
    padding-right: 6rem;
    font-weight: 900;
    color: black;
  }

  &:hover &__hitbox-img {
    color : var(--color-neon-blue); //var(--color-orange-light);
  }
  &:hover &__released-img {
    color : var(--color-neon-blue); //var(--color-orange-light);
  }
  &:hover &__attributes-img {
    color : var(--color-neon-blue); //var(--color-orange-light);
  }

  &__img-container {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }

  &__img {
    height: 80%;
    width: 80%;
    margin-left: 2rem;

    z-index: -10;
  }

  &__hitbox {
    grid-row: 2 / 3;
  }

  &__attributes {
    grid-row: 3 / 4;
  }

  &__released {
    grid-row: 4 / 5;
    margin-bottom: 2rem;
  }

  &__hitbox,
  &__released,
  &__attributes {
    font-size: 1.4rem;
    //justify-self: start;
    grid-column: 1 / -1;
    margin-left: 8rem;

    display: flex;

    &-img {
      height: 2rem;
      width: 2rem;
      margin-right: 1rem;
      color : var(--color-primary-light);
    }
  }

  &__heading {
    margin-bottom: 2.5rem;
    margin-left: 3rem;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: end;
    align-self: end;
    z-index: 0;

    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
    color: var(--color-gray-light-2);
    position: absolute;
    //top: 12rem;
    right: .1rem;
    //width: 70%;
    //outline: none;

    &-span {
      background-image: linear-gradient(to right, var(--color-blue-light), var(--color-primary));
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;

      padding-right: 1rem;
      padding-left: 1rem;

      position: relative;

      transition: all .8s;
    }
  }
}