.filter {
  background-image: linear-gradient(to right, rgba(#010623, .9), rgba(#000e4b, .8), rgba(#010623, .9));
  padding: 3rem;
  margin: 0 3rem 5rem 3rem;
  //border-radius: 10px;
  box-shadow: 0 1rem 1rem rgba(#82fbf6, .15);

  //display: flex;
  //justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, .5fr));
  grid-row-gap: 4rem;
  grid-column-gap: 5rem;

  position: relative;

  @include respond(tab-land) {
    grid-template-columns: repeat(3, minmax(15rem, .5fr));    
  }

  @include respond(tab-port) {
    grid-template-columns: repeat(2, minmax(15rem, .5fr));    
  }

  @include respond(phone) {   
    margin: 2rem 5rem 4rem 5rem;
    grid-template-columns: minmax(15rem, 1fr);
  }
  

  &--bg {
    &-212 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 2rem;
    }

    &-211 {
      position: absolute;
      bottom: -2rem;
      left: 0;
      width: 100vw;
      height: 2rem;
    }
  }
}

.select__search-icon {
  transform: translateY(.2rem);
}


