.filter {
  background-color: #252525;
  padding: 3rem;
  //margin-left: 100rem;
  margin-bottom: 5rem;
  border-radius: 10px;
  box-shadow: 0 1rem 1rem rgba(black, .5);

  //display: flex;
  //justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-row-gap: 3rem;
  grid-column-gap: 5rem;

  &:hover {

  }
}

.select__search-icon {
  transform: translateY(.2rem);
}














/*
input {
  padding: 0.5rem;
  width: 20rem;
  outline: none;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  //border: 1px solid #999;
  //border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  //width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
  outline: none;
}*/


