.header__navbar {
  display: grid;

  background-color: #101d2c; // var(--color-theme-dark);
  height: 6vh;
  cursor: pointer;

  margin: 0 0 30px 0;
  
  & * {
    //line-height: 0;
    font-size: 17px;
    font-weight: 400;
    padding: 5px 0 5px 0;
    text-decoration: none;
  }
}

.header__navbar--links {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  justify-self: start;

  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-items: center;
  grid-column-gap: 2rem;
  margin-left: 2rem;
}

.header__navbar--signup {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  justify-self: end;

  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 2rem; 
  margin-right: 2rem;
}

.link {
  color: var(--color-brown-light); 
  padding-bottom: 10px;
}

.link:focus {
  outline: none;
}

.selected {
  border-bottom: 1px solid var(--color-brown-dark);
}

.link:hover {
  border-bottom: 1.5px solid var(--color-brown-dark);
}






/*
.link:hover {
  color: greenyellow !important;
}

.header__item {
  color: orangered !important;
}
.header__item--active {
  color: greenyellow !important;
}
*/

/*
.header__navbar * {
  line-height: 0;
  padding: .5rem 0rem .5rem 0rem;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: white !important;
  font-size: 1.3rem;

  &:hover {
    text-shadow: 0 1px 0 white;
    //color: #212121;
    outline: none;
  }
}
*/