.header {
  //background-image: linear-gradient(to right, var(--color-orange-dark), var(--color-blue-dark));
  background-color: var(--color-gray-dark-4);
  margin: 5rem 25rem 10rem 25rem;

  font-size: 2rem;
  color: var(--color-gray-light-3);
  height: 7rem;
  border-bottom: 1px solid var(--color-gray-light-3);
  border-radius: 10px;
  padding-bottom: 8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 6rem;
    margin-top: .5rem;
    transition: all 1s;
  }

  &__logo:hover {
    transform: scale(1.3);
  }

  &__navbar {
    display: flex;
    outline: none;
    //push them to mid
    margin-right: 30rem;

    & > * {
      padding: 2.5rem 3rem;
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center;
    }

    & > *:hover {
      text-shadow: 0 .2rem .5rem var(--color-gray-light-3);
      border-bottom: 2px solid var(--color-gray-light-3);
    }
  }

  &__item--active {
    text-shadow: 0 .2rem .5rem var(--color-gray-light-3);
    border-bottom: 2px solid var(--color-gray-light-3);
  }


}