.header {
  //background-image: linear-gradient(to right, var(--color-orange-dark), var(--color-blue-dark));
  //background-color: var(--color-gray-dark-3);
  margin: 5rem 25rem 5rem 25rem;

  font-size: 2rem;
  color: var(--color-gray-light-3);
  height: 7rem;
  border-bottom: 1px solid var(--color-gray-light-3);
  padding-bottom: 2rem;

  display: flex;
  justify-content: space-around;
  align-items: center;

  /*&__logo {
    height: 6rem;
    margin-top: .5rem;
    transition: all 1s;
  }

  &__logo:hover {
    transform: scale(1.3);
  }*/

  &__navbar {
    display: flex;
    outline: none;
    //push them to mid
    //margin-right: 35rem;
    //to cancel the vertical movement when hovered (bottom border added)
    box-sizing: border-box;

    & > * {
      padding: 2.5rem 3rem;
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center;
    }

    & > *:hover {
      //text-shadow: 0 .2rem .2rem rgba(greenyellow, .5);//var(--color-gray-light-3);
      //color: greenyellow;
      //border-bottom: 2px solid var(--color-gray-light-3);
      //padding-bottom: 2.3rem;
    }
  }

  &__item {
    //color: ghostwhite;
  }

  &__item--active {
    color: greenyellow;
    //text-transform: uppercase;
  }
}

.link {
  color: ghostwhite;
}

.link:hover {
  text-shadow: 0 .2rem .2rem rgba(greenyellow, .5);
  color: greenyellow;
}


.link:focus {
  outline: none;
}





