@import "../abstracts/mixins";

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -9999;
  color: blue;
}

.rain {
  position: fixed;
  margin-left: 7vw;
  height: 87vh;
  width: 100vw;
  z-index: -1;
  
  .rain__knob {
    margin-left: -7vw;
    position: absolute;
    bottom: 0;
    left: 0;

    .knob {
      opacity: .6;
  
      &:hover {
        opacity: 1;
      }    
    }
  }
}
