@import "../abstracts/mixins";

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -9999;
  color: blue;
}

.rain {
  position: fixed;
  
  .reactrain {
    margin-left: 10rem;
    z-index: -100000;
  }

  .knob {
    top: 82vh;
    left: 0;
    opacity: .7;

    &:hover {
      opacity: 1;
    }
  }
}