/*
.livestream {
  width: 420px;
  height: 240px;
}
*/

.livestreams {
  margin: 5rem 2rem 5rem 2rem;


  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, .3fr)); //repeat(auto-fit, minmax(27rem, 1fr))
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  //justify-content: center;
}

.livestream-card {
  //background-color: black;
  border-radius: 10px;
  transition: all .7s;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1.5rem;

  &:hover {
    //transform: scale(1.05);
    //box-shadow: 0 1rem 1rem rgba(black, .9);
  }
}

.livestream-player {
  //margin-top: 2rem;
  box-shadow: 0 1rem 1rem rgba(black, .9);
  position: relative;

  grid-row: 1 / 2;
  grid-column: 1 / -1;
  justify-self: center;
}

.livestream {

  &__navigation {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: end;
  
    //position: relative;
  
    margin: 1rem;
    z-index: 0;
  
    &--button {
      background-color: #252525;
      display: inline-block;
      height: 3.5rem;
      width: 3.5rem;
      border-radius: 50%;
      text-align: center;
      box-shadow: 0 1rem 1rem rgba(black, .1);
    }

    //CHECKBOX
    &--checkbox {
      display: none;
    }

    //CHECKBOX FUNCTIONALITY


    //ICON
    &--icon {
      position: relative;
      margin-top: 1.6rem;

      &,
      &::before,
      &::after {
        width: 2.5rem;
        height: 2px;
        background-color: var(--color-gray-light-2);
        display: inline-block;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s;
      }

      &::before { top: -.6rem; }
      &::after { top: .6rem; }
    }


    &:hover &--icon:before {
      top: -.8rem;
    }
  
    &:hover &--icon:after {
      top: .8rem;
    }
    
  }

}

.channel {
  margin-top: .8rem;

  grid-row: 2 / 3;
  grid-column: 1 / -1;
  justify-self: start;

  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-column-gap: 1rem;

  &__title {
    font-size: 1.4rem;
    font-weight: 700;
    display: inline-block;
    //width: 30rem;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;

    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-self: center;

  }

  &__name {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-purple-light);

    grid-row: 2 / 2;
    grid-column: 2 / 3;
  }

  &__img {
    background-color: var(--color-gray-light-4);
    box-sizing: content-box;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: .1rem solid black;
    transition: all .7s;



    &:hover {
      transform: scale(1.05);
    }

    &-link {
      grid-row: 1 / 3;
      grid-column: 1 / 2;
      margin-bottom: 1.5rem;
    }
  }
}

//147359