@import "../abstracts/mixins";

.livetweets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); // repeat(auto-fit, minmax(25rem, .3fr)); // repeat(auto-fit, minmax(27rem, 1fr))
    grid-column-gap: 5rem;
    grid-row-gap: 3rem;
    //justify-content: center;
  
    margin: 5rem 2rem 5rem 2rem;

    @include respond(phone) {   
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));

        margin: 2rem;
    }
}

.timelineList {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    
    @include respond(phone) {   
        grid-row: 1 / 2;
        grid-column: 1 / -1;
    }
}

.livetweetsList {
    grid-row: 1 / -1;
    grid-column: 2 / -1;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    justify-content: center;

    @include respond(phone) {  
        grid-row: 2 / -1; 
        grid-column: 1 / -1;

        grid-template-columns: 1fr;
    }
}

.livetweet-card {
    
}