.livestream {
  width: 420px;
  height: 240px;
}

.livestreams {
  margin: 5rem 2rem 5rem 2rem;

  display: grid;
  grid-template-columns: repeat(auto-fit,  minmax(27rem, 1fr)); //repeat(auto-fit, minmax(27rem, 1fr))
  grid-gap: 5rem;
  justify-content: center;
}

.livestream-card {
  background-color: black;
  border-radius: 10px;
  transition: all .7s;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 1rem 1rem rgba(black, .9);
  }
}