@import "../abstracts/mixins";

.livestreams--content {
  display: grid;
  grid-template-columns: 1fr 28rem; // repeat(auto-fit, minmax(25rem, .3fr)); // repeat(auto-fit, minmax(27rem, 1fr))
  grid-column-gap: 1px;
}

.timelineList-2 {
  grid-row: 1 / -1;
  grid-column: 2 / 3;
  justify-self: center;

  margin-right: 1rem;
  margin-top: 4.4rem;

  //border: 2px solid var(--color-gray-light-4);
  //background-color: #292f33;
  overflow: hidden;
  outline: none;

  @include respond(phone) {
    display: none
  }
}

.livestreamsList {
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  //justify-self: end;

  //margin: 2rem;
  padding: 0 3rem 0 3rem;

  @include respond(phone) {   
    grid-column: 1 / -1;
    justify-content: center;
  }
}

.livestreams {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, .3fr)); // repeat(auto-fit, minmax(340px, .3fr)) //repeat(auto-fit, minmax(27rem, 1fr))
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  justify-content: start;

  @include respond(phone) {   
    grid-template-columns: minmax(320px, .3fr);
    justify-content: center;
    margin: 5rem 1rem 5rem 1rem;
  }

  margin: 5rem 2rem 5rem 2rem;
}

.livestream-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1.5rem;

  border-radius: 10px;
  transition: all .7s;
}

.livestream-player {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  justify-self: center;

  box-shadow: 0 1rem 1rem rgba(black, .9);
}

.livestream__viewerCount {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  justify-self: start;

  background-color: rgba(#101d2c, .7);  // var(--color-primary)
  margin: 1rem;
  padding: 0 10px 0 10px;

  font-size: 1.5rem;
  height: 2.5rem;
  width: auto;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  color: #82fbf6;

  &--icon {
    margin-right: 1rem;
  }

  &:hover {
    font-weight: 600;
    box-shadow: 0 5px 5px rgba(black, .1);
  }
}

.livestream {

  &__navigation {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: end;

    display: grid;
  
    margin: 1rem;
    z-index: 0;
    cursor: pointer;
  
    &--button {
      grid-row: 1 / -1;
      grid-column: 1 / -1;

      display: inline-block;
      text-align: center;

      background-color: var(--color-primary);
      height: 3.5rem;
      width: 3.5rem;
      border-radius: 50%;
      box-shadow: 0 1rem 1rem rgba(black, .1);
      cursor: pointer;
    }

    &--checkbox {
      display: none;
    }

    &--icon {
      position: relative;
      margin-top: 1.6rem;

      &,
      &::before,
      &::after {
        display: inline-block;

        background-color: #82fbf6; // var(--color-brown-light)
        width: 2.5rem;
        height: 2px;
      }

      &::before,
      &::after {
        position: absolute;
        left: 0;

        content: "";
        transition: all .2s;
      }

      &::before { top: -.6rem; }
      &::after { top: .6rem; }
    }

    //BACKGROUND
    &--background {
      grid-row: 1 / -1;
      grid-column: 1 / -1;
      justify-self: center;

      visibility: hidden;
      margin-top: .8rem;

      height: 1.5rem;
      width: 1.5rem;
      background-image: radial-gradient(rgba(#82fbf6, .2), rgba(#82fbf6, .7));
      border-radius: 50%;

      z-index: -999;
      transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
      //transition: width 2s;
      //transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);

      font-size: .3rem; // will be scaled x10

      display: grid;
    }

    &--background:hover {
      background-image: radial-gradient(rgba(#82fbf6, .3), rgba(#82fbf6, .7));
    }

    &--button:hover &--icon:before {
      top: -.8rem;
    }
  
    &--button:hover &--icon:after {
      top: .8rem;
    }

    &--item {

      &--1,
      &--2,
      &--3,
      &--4 {
        color: var(--color-primary);
      }

      &--1 {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        justify-self: end;

        width: .45rem;
        height: .45rem;

        margin-top: .05rem;
        //transform: translateY(.1rem);
        margin-left: .4rem;

        @include respond(tab-port) {
          margin-top: .1rem;
          transform: translateY(0);
        }
    
        @include respond(phone) {

        }
      }

      &--2 {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        justify-self: center;

        margin-right: .4rem;

        @include respond(tab-port) {

        }
    
        @include respond(phone) {

        }
      }

      &--3 {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        justify-self: center;

        margin-left: .1rem;

        @include respond(tab-port) {

        }
    
        @include respond(phone) {

        }
      }

      &--4 {
        grid-row: 3 / 4;
        grid-column: 1 / -1;
        justify-self: end;

        //transform: translateX(-.1rem);
        margin-right: .1rem;

        img {
          width: 12px;
          height: 12px;
        }

        @include respond(tab-port) {
          margin-right: 0;
          transform: translateY(.1rem);
        }
    
        @include respond(phone) {

        }
      }

      &--1:hover {
        transform: rotate(1deg);

        @include respond(tab-port) {

        }
      }

      &--2:hover,
      &--3:hover,
      &--4:hover {
        transform: rotate(5deg);
        //color: var(--color-brown-dark);

        @include respond(tab-port) {
          transform: rotate(5deg) translateY(.1rem);
        }
      }
    }
  }
}

.livestream__navigation--checkbox:checked + .livestream__navigation--button .livestream__navigation--icon {
  background-color: transparent;
}

.livestream__navigation--checkbox:checked + .livestream__navigation--button .livestream__navigation--icon::before {
  top: 0;
  transform: rotate(135deg);
}

.livestream__navigation--checkbox:checked + .livestream__navigation--button .livestream__navigation--icon::after {
  top: 0;
  transform: rotate(-135deg);
}

//FUNCTIONALITY
.livestream__navigation--checkbox:checked ~ .livestream__navigation--background {
  visibility: visible;
  transform: scale(10);
  
}


/*.livestream__navigation--checkbox:checked ~ .livestream__navigation__nav {
  opacity: 1;
  width: 100%;
}*/



.channel {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  justify-self: start;

  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-column-gap: 1rem;

  //margin-top: .8rem;

  &__info--live {
    grid-column: 2 / 3;
    margin-top: 1rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-column-gap: 1rem;
  }

  &__title--live {
    display: inline-block;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-self: center;

    font-size: 1.4rem;
    font-weight: 700;
    //width: 30rem;

    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }


  &__name--live {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-gray-light-3); // var(--color-brown-dark);
  }


  &__img {
    box-sizing: content-box;

    background-color: var(--color-gray-light-4);
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: .1rem solid black;
    box-shadow: 0 5px 5px rgba(black, .5);
    transition: all .7s;

    &:hover {
      transform: scale(1.05);
    }

    &-link {
      grid-row: 1 / 3;
      grid-column: 1 / 2;

      margin-bottom: 1.5rem;
    }
  }
}

.channel__banner {
  display: grid;

  &--circle {
    grid-row: 1 / -1;
    grid-column: 1 / 2;

    position: relative;

    &--bg {
      height: 7rem;

      transition: all 1.5s;
    }
  }

  &--rectangle {
    grid-row: 1 / -1;
    grid-column: 2 / 3;

    position: relative;

    margin-left: -2.45rem;
    margin-top: .1rem;
    overflow:hidden;

    &--bg {
      height: 7.4rem;
      width: 20rem;

      transition: all 1.5s;
    }
  }

  &--avatar {
    height: 5.2rem;
    width: 5.2rem;
    border-radius: 50%;
    background-color: rgba(#82fbf6, .2);

    position: absolute;
    top: 1rem;
    left: .9rem;
  }

  &--name {
    font-size: 1.6rem;
    font-weight: 700;
    color: #82fbf6;

    position: absolute;
    top: 2.2rem;
    left: 3rem;
  }

  &:hover .channel__banner--circle--bg {
    transform: rotate(180deg);
  }

  &:hover .channel__banner--rectangle--bg {
    width: 29rem;
  }
}



//147359

