@import "../abstracts/mixins";

.livestreams--content {
  display: grid;
  grid-template-columns: 1fr 26rem; // repeat(auto-fit, minmax(25rem, .3fr)); // repeat(auto-fit, minmax(27rem, 1fr))
  grid-column-gap: 1px;
}

.timelineList-2 {
  grid-row: 1 / -1;
  grid-column: 2 / 3;
  justify-self: center;

  margin-right: 1rem;
  margin-top: 4.4rem;

  z-index: 2;

  //border: 2px solid #82fbf6;
  
  background-image: linear-gradient(to right, rgba(#010623, .5), rgba(#000e4b, .6), rgba(#010623, .5));
  height: 151.7vh;

  @include respond(phone) {
    display: none
  }
}

.livestreamsList {
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  //justify-self: end;

  //margin: 2rem;
  padding: 0 3rem 0 3rem;

  @include respond(phone) {   
    grid-column: 1 / -1;
    justify-content: center;
  }
}

.livestreams {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, .3fr)); // repeat(auto-fit, minmax(340px, .3fr)) //repeat(auto-fit, minmax(27rem, 1fr))
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  justify-content: start;

  @include respond(phone) {   
    grid-template-columns: minmax(320px, .3fr);
    justify-content: center;
    margin: 5rem 1rem 5rem 1rem;
  }

  margin: 5rem 2rem 5rem 2rem;
}

.livestream-card {
  display: grid;
  grid-template-columns: repeat(2, .5fr);
  grid-row-gap: 1.5rem;

  border-radius: 10px;
  transition: all .7s;
}

.livestream-player {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  //justify-self: center;

  //box-shadow: 0 1rem 1rem rgba(black, .9);
  //border-bottom: 1px solid rgba(#82fbf6, .3);
  //border-left: 1px solid rgba(#82fbf6, .3);

  position: relative;

  .react-player {
    z-index: 1;
    margin-top: 1rem;
    margin-left: .8rem;

    border-radius: 50%;
  }

  .livestream__frame {
    position: absolute;
    top: -.1rem;
    left: 0;
    
    height: 23rem;
    width: 45rem;

    pointer-events: none; // enable click over the overlay (higher z-index)
  }
}

.livestream__viewerCount {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  justify-self: start;

  background-color: rgba(black, .6);  // var(--color-primary)
  margin-top: 2rem;
  margin-left: 1.5rem;
  padding: 0 10px 0 10px;

  font-size: 1.5rem;
  height: 2.5rem;
  width: auto;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  color: #82fbf6;

  z-index: 2;
  display: flex;
  outline: none;
  overflow: hidden;

  &--icon {
    margin-right: .4rem;
  }
}


.livestream {

  &__navigation {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: end;

    display: grid;
  
    margin: 1rem 2rem 1rem 1rem;
    z-index: 0;
    cursor: pointer;
  
    &--button {
      grid-row: 1 / -1;
      grid-column: 1 / -1;

      display: inline-block;
      text-align: center;

      background-color: var(--color-primary);
      height: 42px;
      width: 42px;
      margin-top: .5rem;
      margin-right: .3rem;
      border-radius: 50%;
      box-shadow: 0 1rem 1rem rgba(black, .1);
      cursor: pointer;

      position: relative;

      @include respond(big-desktop) {
        height: 46px;
        width: 46px;
      }
      @include respond(tab-port) {
        height: 38px;
        width: 38px;
      }
      @include respond(phone) {
        height: 35px;
        width: 35px;
      }
    }

    &--checkbox {
      display: none;
    }

    &--icon {
      position: relative;
      margin-top: 1.8rem;
      z-index: 2;
      top: .2rem;

      &,
      &::before,
      &::after {
        display: inline-block;

        background-color: #82fbf6; // var(--color-brown-light)
        width: 2rem;
        height: 2px;
      }

      &::before,
      &::after {
        position: absolute;
        left: 0;

        content: "";
        transition: all .2s;
      }

      &::before { top: -.6rem; }
      &::after { top: .6rem; }

      @include respond(tab-land) {
        margin-left: .1rem;
      }
      @include respond(phone) {
        margin-left: 0;
      }
    }

    // circle bg
    &--bg {
      position: absolute;
      left: .05rem;
      top: 0;
      width: 5.5rem;
      transition: all .3s;
    }

    //BACKGROUND
    &--background {
      grid-row: 1 / -1;
      grid-column: 1 / -1;
      justify-self: center;

      visibility: hidden;
      margin-top: 16px;

      height: 14px;
      width: 14px;
      background-image: radial-gradient(rgba(white, .2), rgba(#82fbf6, .7));
      border-radius: 50%;

      z-index: -999;
      transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
      //transition: width 2s;
      //transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
      //font-size: .3rem; // will be scaled x10

      position: relative;

      @include respond(big-desktop) {
        margin-top: 18px;

        height: 15px;
        width: 15px;
      }

      @include respond(tab-port) {
        margin-top: 14px;

        height: 13px;
        width: 13px;
      }
  
      @include respond(phone) {
        margin-top: 13px;

        height: 12px;
        width: 12px;
      }
    }

    &--background:hover {
      background-image: radial-gradient(rgba(#82fbf6, .3), rgba(#82fbf6, .7));
    }

    &--button:hover &--icon:before {
      top: -.8rem;
    }
  
    &--button:hover &--icon:after {
      top: .8rem;
    }

    &--item {

      &--1,
      &--2,
      &--3,
      &--4 {
        position: absolute;

        font-size: 0px;

        @include respond(big-desktop) {
          font-size: 0px;
        }
        @include respond(tab-port) {
          font-size: 0px;
        }
        @include respond(phone) {
          font-size: 0px;
        }
      }

      &--1 {
        height: 4.5px;
        width: 4.5px;

        top: 1px;
        left: 4.7px;

        @include respond(big-desktop) {
          height: 4.5px;
          width: 4.5px;
  
          top: 1px;
          left: 5px;
        }

        @include respond(tab-port) {
          height: 4.5px;
          width: 4.5px;
  
          top: 1px;
          left: 4px;
        }
    
        @include respond(phone) {
          height: 4px;
          width: 4px;
  
          top: 1px;
          left: 4px;
        }
      }

      &--2 {
        height: 2.5px;
        width: 3px;

        left: 1px;
        top: 6px;  

        @include respond(big-desktop) {
          height: 2.5px;
          width: 3px;
  
          left: 1px;
          top: 6px;  
        }

        @include respond(tab-port) {
          height: 2.5px;
          width: 2.5px;
  
          left: 1px;
          top: 5px;  
        }
    
        @include respond(phone) {
          height: 2px;
          width: 2px;
  
          left: 1px;
          top: 5px;  
        }
      }

      &--4 {
        height: 3.2px;
        width: 3.2px;

        left: 10px;
        top: 6px;

        @include respond(big-desktop) {
          height: 3.2px;
          width: 3.2px;
  
          left: 11px;
          top: 6px;
        }

        @include respond(tab-port) {
          height: 3.5px;
          width: 3.5px;
  
          left: 8.5px;
          top: 5px;
        }
    
        @include respond(phone) {
          height: 2.5px;
          width: 2.5px;
  
          left: 8.5px;
          top: 5px;
        }
      }

      &--3 {
        grid-row: 3 / 4;
        grid-column: 1 / -1;
        justify-self: end;

        height: 3px;
        width: 3px;

        top: 10px;
        left: 5.4px;

        @include respond(big-desktop) {
          height: 3px;
          width: 3px;
  
          top: 11px;
          left: 5.7px;
        }

        @include respond(tab-port) {
          height: 3px;
          width: 3px;
  
          top: 9px;
          left: 5px;
        }
    
        @include respond(phone) {
          height: 2px;
          width: 2px;
  
          top: 9px;
          left: 4.7px;  
        }
      }

      &--1:hover,
      &--2:hover,
      &--3:hover,
      &--4:hover {
        transform: rotate(5deg);
      }
    }
  }
}

.livestream__navigation--checkbox:checked + .livestream__navigation--button .livestream__navigation--icon {
  background-color: transparent;
}

.livestream__navigation--checkbox:checked + .livestream__navigation--button .livestream__navigation--icon::before {
  top: 0;
  transform: rotate(135deg);
}

.livestream__navigation--checkbox:checked + .livestream__navigation--button .livestream__navigation--icon::after {
  top: 0;
  transform: rotate(-135deg);
}
.livestream__navigation--checkbox:checked + .livestream__navigation--button .livestream__navigation--bg {
  transform: rotate(135deg);
}

//FUNCTIONALITY
.livestream__navigation--checkbox:checked ~ .livestream__navigation--background {
  visibility: visible;
  transform: scale(10);
}

.channel {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  justify-self: start;

  margin-right: 1rem;
}

.channel__banner {
  display: grid;

  &--circle {
    grid-row: 1 / -1;
    grid-column: 1 / 2;

    position: relative;
    z-index: 3;

    &--bg {
      height: 7rem;

      transition: all 1.5s;
    }
  }

  &--rectangle {
    grid-row: 1 / -1;
    grid-column: 2 / 3;

    position: relative;

    margin-left: -2.45rem;
    margin-top: .1rem;
    overflow:hidden;

    &--bg {
      height: 7.4rem;
      width: 20rem;

      transition: all 1.5s;
    }
  }

  &--avatar {
    height: 5.2rem;
    width: 5.2rem;
    border-radius: 50%;
    background-color: rgba(#82fbf6, .2);

    position: absolute;
    top: 1rem;
    left: .9rem;

    z-index: 3;
  }

  &--name {
    font-size: 1.6rem;
    font-weight: 700;
    color: #82fbf6;

    position: absolute;
    top: 2.2rem;
    left: 3rem;
  }
}

.livestream-card:hover .channel__banner--circle--bg {
  transform: rotate(180deg);
}
.livestream-card:hover .channel__banner--rectangle--bg {
  width: 29rem;
}
.livestream-card:hover .channel__banner--name {
  text-shadow: 0 0 10px #82fbf6,
}

.channel__banner__live {
  display: grid;

  &--circle {
    grid-row: 1 / -1;
    grid-column: 1 / 2;

    position: relative;
    z-index: 3;

    &--bg {
      height: 7rem;

      transition: all 8s;
    }
  }

  &--rectangle {
    grid-row: 1 / -1;
    grid-column: 2 / 3;
    margin-left: -3rem;

    display: grid;
  }

  &--rectangle--inside {
    grid-row: 1 / -1;
    grid-column: 1 / -1;

    position: relative;
    
    overflow: hidden;

    &--bg {
      height: 7rem;
      width: 45rem;
    }
  }

  &--rectangle--outside {
    grid-row: 1 / -1;
    grid-column: 1 / -1;

    position: relative;

    overflow: hidden;

    &--bg--1 {
      height: 7rem;
      position: absolute;
      right: 0;
    }

    &--bg--2 {
      height: 7.7rem;
      width: 45rem;

      z-index: 2;
    }

    &--bg--21 {
      height: .5rem;
      width: 45rem;

      position: absolute;
      right: 0;
      z-index: 1;
    }

    &--bg--22 {
      height: 1.5rem;
      width: 0;

      position: absolute;
      left: 0;
      bottom: -.3rem;
      z-index: 1;
    }

    &--bg--3 {
      height: 7.7rem;
      width: 45rem;

      position: absolute;
      left: 0;
      z-index: 1;
    }
  }

  &--avatar {
    height: 5.2rem;
    width: 5.2rem;
    border-radius: 50%;
    background-color: rgba(#82fbf6, .2);

    position: absolute;
    top: 1rem;
    left: .9rem;

    z-index: 3;
  }

  &--title {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color-brown-dark);

    position: absolute;
    top: 1rem;
    left: 3.5rem;

    width: 25rem;

    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

  &--name {
    font-size: 1.2rem;
    font-weight: 700;
    color: #82fbf6;

    position: absolute;
    top: 3.5rem;
    left: 3.5rem;
  }
}

.livestream-card:hover .channel__banner__live--circle--bg {
  -webkit-animation: rotating 7s linear infinite;
  -moz-animation: rotating 7s linear infinite;
  -ms-animation: rotating 7s linear infinite;
  -o-animation: rotating 7s linear infinite;
  animation: rotating 7s linear infinite;
}
.livestream-card:hover .channel__banner__live--title {
  animation: banner-title-left 7s linear infinite;
  overflow: visible !important;
  text-overflow: visible !important;
}
.livestream-card:hover .channel__banner__live--rectangle--outside--bg--21 {    
  animation: banner-top-left 7s linear infinite;
}
.livestream-card:hover .channel__banner__live--rectangle--outside--bg--22 {
  animation: banner-bottom-right 7s linear infinite;
  width: 35rem;
}

// ANIMATIONS
@keyframes banner-title-left {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-80%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes banner-top-left {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}


@keyframes banner-bottom-right {
  0% {
    transform: translate(-100%, 0);
  }
  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes rotating {
  0% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  50% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

//147359
