.livestreams {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, .3fr)); //repeat(auto-fit, minmax(27rem, 1fr))
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  //justify-content: center;

  margin: 5rem 2rem 5rem 2rem;
}

.livestream-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1.5rem;

  border-radius: 10px;
  transition: all .7s;
}

.livestream-player {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  justify-self: center;

  box-shadow: 0 1rem 1rem rgba(black, .9);
}

.livestream {

  &__navigation {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: end;

    display: grid;
  
    margin: 1rem;
    z-index: 0;
  
    &--button {
      grid-row: 1 / -1;
      grid-column: 1 / -1;

      display: inline-block;
      text-align: center;

      background-color: #252525;
      height: 3.5rem;
      width: 3.5rem;
      border-radius: 50%;
      box-shadow: 0 1rem 1rem rgba(black, .1);
    }

    &--checkbox {
      display: none;
    }

    &--icon {
      position: relative;
      margin-top: 1.6rem;

      &,
      &::before,
      &::after {
        display: inline-block;

        background-color: var(--color-gray-light-2);
        width: 2.5rem;
        height: 2px;
      }

      &::before,
      &::after {
        position: absolute;
        left: 0;

        content: "";
        transition: all .2s;
      }

      &::before { top: -.6rem; }
      &::after { top: .6rem; }
    }

    //BACKGROUND
    &--background {
      grid-row: 1 / -1;
      grid-column: 1 / -1;
      justify-self: center;

      visibility: hidden;
      margin-top: .8rem;

      height: 1.5rem;
      width: 1.5rem;
      background-image: radial-gradient(rgba(white, .2), rgba(white, .7));
      border-radius: 50%;

      z-index: -999;
      transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
      //transition: width 2s;
      //transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);

      font-size: .3rem; // will be scaled x10

      display: grid;
    }


    &--button:hover &--icon:before {
      top: -.8rem;
    }
  
    &--button:hover &--icon:after {
      top: .8rem;
    }

    &--nav {
      //visibility: hidden;
    }

    &--list {

    }

    &--item {

      &--1 {
        grid-row: 1 / 2;
        grid-column: 1 / -1;

        justify-self: end;
        margin-left: .2rem;
      }

      &--2 {
        grid-row: 2 / 3;
        grid-column: 1 / 2;

        justify-self: center;
        margin-right: .2rem;
      }

      &--3 {
        grid-row: 2 / 3;
        grid-column: 2 / 3;

        justify-self: center;
      }

      &--4 {
        grid-row: 3 / 4;
        grid-column: 1 / -1;

        justify-self: end;
      }
    }

    &--link {

    }
    
  }
}

.livestream__navigation--checkbox:checked + .livestream__navigation--button .livestream__navigation--icon {
  background-color: transparent;
}

.livestream__navigation--checkbox:checked + .livestream__navigation--button .livestream__navigation--icon::before {
  top: 0;
  transform: rotate(135deg);
}

.livestream__navigation--checkbox:checked + .livestream__navigation--button .livestream__navigation--icon::after {
  top: 0;
  transform: rotate(-135deg);
}

//FUNCTIONALITY
.livestream__navigation--checkbox:checked ~ .livestream__navigation--background {
  visibility: visible;
  transform: scale(10);
  
}


/*.livestream__navigation--checkbox:checked ~ .livestream__navigation__nav {
  opacity: 1;
  width: 100%;
}*/



.channel {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  justify-self: start;

  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-column-gap: 1rem;

  margin-top: .8rem;

  &__title {
    display: inline-block;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-self: center;

    font-size: 1.4rem;
    font-weight: 700;
    //width: 30rem;

    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

  &__name {
    grid-row: 2 / 2;
    grid-column: 2 / 3;

    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-purple-light);
  }

  &__img {
    box-sizing: content-box;

    background-color: var(--color-gray-light-4);
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: .1rem solid black;
    transition: all .7s;

    &:hover {
      transform: scale(1.05);
    }

    &-link {
      grid-row: 1 / 3;
      grid-column: 1 / 2;

      margin-bottom: 1.5rem;
    }
  }
}

//147359