@import "../abstracts/mixins";

/* Make it a marquee */
.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;

  background-color: var(--color-primary);
  font-size: 1.4rem;

  position: fixed;
  bottom: 0;

  width: 100%;
  z-index: 5000;
  margin: 30px 0 0 0;
  box-shadow: 0 1rem 1rem rgba(black, .5);

  &-icon {
    margin: 0 35px 0 35px;
  }
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 27s linear infinite;
}

.marquee2 span {
  animation-delay: 2.5s;
}

.marquee div {
  display: inline-block;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.info {
  margin-left: 100rem;
}
