@import "../abstracts/mixins";

.side__navbar {
  //display: none;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 5rem;

  position: sticky;
  //float: right;
  z-index: 5001;

  background-color: #101d2c;
  //width: 20rem;
  height: 100vh;
  cursor: pointer;

  //padding-top: 5rem;
  position: absolute;
  top: 0;
  right: 0;

  transition: all .5s;

  & * {
    //line-height: 0;
    font-size: 17px;
    font-weight: 400;
    padding: 5px 0 5px 0;
    text-decoration: none;
    margin-left: 2rem;
  }

  @include respond(tab-land) {
    display: grid;
  }
}

.toggled {
  width: 25rem;
}

.collapsed {
  width: 0rem;
}

.collapsed * {
  display: none;
}

.side__navbar--links {
  grid-row: 1 / 2;
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25px repeat(7, 30px);
  grid-row-gap: 2rem;
  justify-items: start;
}

.side__navbar--signup {
  grid-row: 2 / 3;
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 30px);
  grid-row-gap: 2rem;
  justify-items: start;
}

.side--link {
  color: var(--color-brown-light); 
  width: 80%;
  border-bottom: 1px solid rgba(196, 162, 120, .3);
  padding-bottom: 4rem;
}

.side--link:focus {
  outline: none;
}

.side--link--selected {
  color: var(--color-brown-dark); 
  font-weight: 600;
  //border-bottom: 2px solid var(--color-brown-dark);
}

.side--link:hover {
  color: var(--color-brown-dark); 
  //border-bottom: 2px solid var(--color-brown-dark);
}

.icon-collapse {
  margin-left: 14.5rem;
  color: var(--color-brown-light);
  height: 45px;
  width: 35px !important;
  transition: transform .5s;

  &:hover {
    transform: scale(1.1);
  }
}


/* effect */
.side--link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: rgba(196, 162, 120, .3);
  //transform: scaleY(0);
  transition: transform .2s,
              width .4s cubic-bezier(1, 0, 0, 1) .1s,
              background-color .1s;
  overflow: hidden;
}

.side--link:hover::before,
.side--link--selected::before  {
  transform: scaleY(1) scaleX(2);
  //width: 100%;
}