@import "../abstracts/mixins";

.signin {
  background-image: linear-gradient(105deg,
            rgba(#010623, .9) 0%,
            rgba(#010623, .9) 50%,
            transparent 50%),
            url('resources/signin-3.jpg');
  background-size: cover;
  border-radius: 35px;
  box-shadow: 0 .5rem 2rem var(--color-neon-blue-dark);
  transition: all .3s;

  width: 50%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 28rem 5rem;
  grid-row-gap: 3rem;
  
  padding: 4rem;

  font-size: 1.5rem;

  &:hover {
    //transform: translateY(-3px);
    box-shadow: 0 1rem 3rem var(--color-neon-blue-dark);
  }

  @include respond(tab-land) {
    background-image: linear-gradient(105deg,
            rgba(#010623, .9) 0%,
            rgba(#010623, .9) 65%,
            transparent 65%),
            url('resources/signin-3.jpg');
    width: 65%;
  }
  @include respond(tab-port) {
    background-image: linear-gradient(to right,
            rgba(#010623, .9) 0%,
            rgba(#010623, .9) 100%),
            url('resources/signin-3.jpg');
    width: 85%;
  }
  

  &__header {
    font-size: 3rem;
    font-weight: 900;

    border-bottom: 1px solid var(--color-neon-blue-dark);
    width: 80%;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  &__form {
    display: grid;

    margin-left: 4rem;
  }

  &__email {
    margin-bottom: 2rem;

    &--label {
      font-weight: 700;
    }
  }

  &__password {
    &--label {
      font-weight: 700;
    }
  }


  &__submit {
    margin-top: 3rem;
    
    &--input {

    }
  }

  &__footer {
    border-top: 1px solid var(--color-neon-blue-dark);
    width: 80%;
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: 1.3rem;

    display: grid;
    justify-content: end;

    &--signup {
      color: white;
      margin-top: 1rem;
      cursor: pointer;

      &:hover {
        text-shadow: 0 0 10px white;
        text-decoration: underline;
      }
    }
  
    &--forgot {
      color: white;
      cursor: pointer;

      &:hover {
        text-shadow: 0 0 10px white;
        text-decoration: underline;
      }
    }
  }
}