@import "../abstracts/mixins";

.signin {
  border-radius: 35px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 29rem 5rem;
  grid-row-gap: 3rem;
  
  padding: 4rem;

  font-size: 1.5rem;

  &__header {
    font-size: 3rem;
    font-weight: 900;

    border-bottom: 1px solid var(--color-neon-blue-dark);
    width: 80%;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  &__form {
    display: grid;

    margin-left: 4rem;
  }

  &__email {
    margin-bottom: 2rem;

    &--label {
      font-weight: 700;
    }
  }

  &__password {
    &--label {
      font-weight: 700;
    }
  }


  &__submit {
    margin-top: 3rem;
    margin-bottom: 2rem;

    @include respond(tab-port) {
      margin-top: 2rem;
    }
    
    &--input {

    }
  }

  &__footer {
    border-top: 1px solid var(--color-neon-blue-dark);
    width: 80%;
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: 1.5rem;

    display: grid;
    justify-content: end;

    &--signup {
      color: white;
      margin-top: 1rem;
      cursor: pointer;

      &:hover {
        text-shadow: 0 0 10px white;
        text-decoration: underline;
      }
    }
  
    &--forgot {
      color: white;
      cursor: pointer;

      &:hover {
        text-shadow: 0 0 10px white;
        text-decoration: underline;
      }
    }
  }
}

.signin-collapsed * {
  display: none;
}


.signin-toggled {
  background-image: linear-gradient(105deg,
      rgba(#010623, .9) 0%,
      rgba(#010623, .9) 50%,
      transparent 50%),
      url('resources/signin-3.jpg');
  background-size: cover;
  margin-top: 10rem;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all .5s;
  border-radius: 35px;
  box-shadow: 0 .5rem 2rem var(--color-neon-blue-dark);

  position: absolute;

  &:hover {
    transform: translate(-50%, -3px);
    box-shadow: 0 1rem 3rem var(--color-neon-blue-dark);
  }

  @include respond(tab-land) {
    background-image: linear-gradient(105deg,
            rgba(#010623, .9) 0%,
            rgba(#010623, .9) 65%,
            transparent 65%),
            url('resources/signin-3.jpg');
    width: 65%;
  }
  @include respond(tab-port) {
    background-image: linear-gradient(to right,
            rgba(#010623, .9) 0%,
            rgba(#010623, .9) 100%),
            url('resources/signin-3.jpg');
    width: 85%;
  }
}

.icon-signinCollapse {
  margin-left: 14.5rem;
  color: var(--color-neon-blue-dark);
  height: 45px;
  width: 35px !important;
  transition: transform .5s;
  cursor: pointer;

  position: absolute;
  top: 2rem;
  right: 2rem;

  &:hover {
    transform: scale(1.1);
  }
}